{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="{{url_for('statistics_page')}}">Statistics</a>
    <a class="nav-item nav-link" href="{{url_for('registrar_default_dash')}}">Dashboard</a>
    <a class="nav-item nav-link" href="{{url_for('login')}}">Sign Out</a>
{% endblock %}

{% block content %}
<div class="container marketing">
    <div class="animate__animated animate__fadeIn animate__slow text-center mt-5 mb-5">
        <h1 class="font-weight-bolder text-white">Grading</h1>
    </div>
    <div class="accordion p-3 mt-3" id="accordionExample">
        <div class="card lg-shadow">
          <div class="card-header bg-ebony" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block text-white text-left" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Science: the search for the truth
                <h6>Instructor: Bob the Builder</h6>
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-unstyled text-small">
                    <span><strong>Students:</strong></span>
                    <li>Amy</li>
                    <li>Bob</li>
                    <li>Alex</li>
                </ul>
                <p><strong>Course Grade:</strong> A</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Math: the universal language
                <h6>Instructor: Bob the Builder</h6>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-unstyled text-small">
                    <span><strong>Students:</strong></span>
                    <li>Amy</li>
                    <li>Bob</li>
                    <li>Alex</li>
                </ul>
                <p><strong>Course Grade:</strong> Pending</p>
                <p class="alert alert-warning">Warning: Grading Late</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingThree">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Computer Science: Data Structures
                <h6>Instructor: Bob the Builder</h6>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-unstyled text-small">
                    <span><strong>Students:</strong></span>
                    <li>Amy</li>
                    <li>Bob</li>
                    <li>Alex</li>
                </ul>
                <p><strong>Course Grade:</strong> Pending</p>
                <p class="alert alert-warning">Warning: Grading Late</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingFour">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Music: Music Theory
                <h6>Instructor: Bob the Builder</h6>
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-unstyled text-small">
                    <span><strong>Students:</strong></span>
                    <li>Amy</li>
                    <li>Bob</li>
                    <li>Alex</li>
                </ul>
                <p><strong>Course Grade:</strong> Pending</p>
                <p class="alert alert-warning">Warning: Grading Late</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingFive">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Computer Science: Algorithms
                <h6>Instructor: Bob the Builder</h6>
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-unstyled text-small">
                    <span><strong>Students:</strong></span>
                    <li>Amy</li>
                    <li>Bob</li>
                    <li>Alex</li>
                </ul>
                <p><strong>Course Grade:</strong> B</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingSix">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                English: Introduction to Literary Studies
                <h6>Instructor: Bob the Builder</h6>
              </button>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-unstyled text-small">
                    <span><strong>Students:</strong></span>
                    <li>Amy</li>
                    <li>Bob</li>
                    <li>Alex</li>
                </ul>
                <p><strong>Course Grade:</strong> B</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingSeven">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Computer Science: Algorithms
                <h6>Instructor: Bob the Builder</h6>
              </button>
            </h2>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-unstyled text-small">
                    <span><strong>Students:</strong></span>
                    <li>Amy</li>
                    <li>Bob</li>
                    <li>Alex</li>
                </ul>
                <p><strong>Course Grade:</strong> B</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingEight">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Computer Science: Computer Graphics
                <h6>Instructor: Bob the Builder</h6>
              </button>
            </h2>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-unstyled text-small">
                    <span><strong>Students:</strong></span>
                    <li>Amy</li>
                    <li>Bob</li>
                    <li>Alex</li>
                </ul>
                <p><strong>Course Grade:</strong> B</p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}