{% extends "base.html" %}
{% block navbar %}
    <a class="nav-item nav-link" href="{{url_for('statistics_page')}}">Statistics</a>
    <a class="nav-item nav-link" href="{{url_for('login')}}">Sign In</a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Apply
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('student_app')}}">Student</a>
          <a class="dropdown-item" href="{{url_for('instructor_app')}}">Instructor</a>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock content %}