{% extends "base.html" %}

{% block navbar %}
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Periods
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('registrar_class_setup')}}">Class Set-up</a>
          <a class="dropdown-item" href="{{url_for('registrar_course_reg')}}">Course Registration</a>
          <a class="dropdown-item" href="{{url_for('registrar_class_run_period')}}">Class Running</a>
          <a class="dropdown-item" href="{{url_for('registrar_grading_period')}}">Grading</a>
        </div>
    </div>
    <a class="nav-item nav-link" href="{{url_for('statistics_page')}}">Statistics</a>
    <a class="nav-item nav-link" href="{{url_for('login')}}">Sign Out</a>
{% endblock %}

{% block content %}
<div class="container marketing">

    <div class="container about-container mt-3" >
        <div class="row justify-content-center align-items-end">
            <div class="col-sm-4 ">
                <div class="animate__animated animate__bounce animate__fast card bg-blur shadow-lg welcome-card p-3">
                    <div class="card-heading">
                        <h1 class="text-center">Registrar Dashboard</h1>
                        <h4 class="text-center">___________</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        <i class="fas fa-book-open fa-3x"></i>
        <h1 class="display-4">Students</h1>
    </div>

    <div class="container">
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li lead strong_font bg-ebony text-white" style="width: 50%">NAME</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%;">Bill Billy</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%">Bob Bobby</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%">Bob the builder</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%">Bill the builder</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%">Bill the builder</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%">Bill the builder</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%">Bob the builder</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%">Bob the builder</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm container_ul">
            <li class="list-group-item modified_li strong_font" style="width: 50%">Bill the builder</li>
        </ul>
    </div>
</div>
{% endblock content %}