{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="{{url_for('statistics_page')}}">Statistics</a>
    <a class="nav-item nav-link" href="{{url_for('logout')}}">Sign Out</a>
{% endblock %}

{% block content %}
<div class="container marketing">

    <div class="container about-container mt-3" >
        <div class="row justify-content-center align-items-end">
            <div class="col-sm-4 ">
                <div class="animate__animated animate__bounce animate__fast card bg-blur shadow-lg welcome-card p-3">
                    <div class="card-heading">
                        <h1 class="text-center text-white">Registrar Dashboard</h1>
                        <h4 class="text-center">Currently in the {{ current_period.title() }} Period</h4>
                        <h4 class="text-center text-white">___________</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container ">
        <div class="container">
            <div class="col-sm-12">
                <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
                    <i class="fas fa-exchange-alt fa-3x"></i>
                    <h1 class="display-4">Change Period</h1>
                </div>
                <div class="card text-white card_border bg-ebony mx-auto mb-3" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="/registrar_default_dash/next_period" class="btn text-white"><strong>Move To Next Period</strong></a>              
                    </h5>               
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

            <div class="container">
                <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
                    <i class="far fa-arrow-alt-circle-up fa-3x"></i>
                    <h1 class="display-4">Change Capacity</h1>
                </div>
                <form method="POST" action="/registrar_default_dash/change_capacity/" class="card bg-blur p-3 mt-3" style="width: 50%; margin: 0 auto; border-radius: 10px;">
                    <div class="form-group">
                        <label for="capacity">New Capacity</label>
                        <input type="number" class="form-control" name="capacity" id="capacity" placeholder="new capacity must be a number">
                    </div>
                    <button class="btn btn-lg text-white bg-ebony">Submit</button>
                </form>
            </div>

        <hr class="featurette-divider">

        <div class="container">
            <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
                <i class="fas fa-exclamation fa-3x"></i>
                <h1 class="display-4">Censor Words</h1>
                <p class="lead">
                    Add words to be censored.
                </p>
            </div>
            <form method="POST" action="/registrar_default_dash/add_censor_word/" class="card bg-blur p-3 mt-3" style="width: 50%; border-radius: 10px; margin: 0 auto;">
                <div class="form-group">
                    <label for="censorWord">Censor Word</label>
                    <input type="text" class="form-control" name= "censorWord" id="censorWord" placeholder="word">
                </div>
                <button class="btn btn-lg text-white bg-ebony">Submit</button>
            </form>
          </div>

        <hr class="featurette-divider">

        <div class="row">
            <div class="col-sm-12">
                <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
                    <i class="fas fa-chalkboard-teacher fa-3x"></i>
                    <h1 class="display-4">Registrar Pages</h1>
                </div>
                
                <div class="card text-white card_border bg-ebony mx-auto mb-3" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="{{url_for('registrar_view_applicants')}}" class="btn text-white"><strong>View Applicants</strong></a>              
                    </h5>               
                    </div>
                </div>

                {% if current_period == 'class set-up' %}
                    <div class="card text-white card_border bg-ebony mx-auto mb-3" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title text-center">
                            <a href="{{url_for('registrar_class_setup')}}" class="btn text-white"><strong>Create Course Section</strong></a>              
                        </h5>               
                        </div>
                    </div>
                {% endif %}

                <div class="card text-white card_border bg-ebony mx-auto mb-3" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="{{url_for('view_courses')}}" class="btn text-white"><strong>View Course Sections</strong></a>              
                    </h5>               
                    </div>
                </div>

                <div class="card text-white card_border bg-ebony mx-auto mb-3" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="{{url_for('registrar_grading_period')}}" class="btn text-white"><strong>Course Grading</strong></a>              
                    </h5>               
                    </div>
                </div>

                <div class="card text-white card_border bg-ebony mx-auto mb-3" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="{{url_for('warned_stu_instr')}}" class="btn text-white"><strong>Warnings</strong></a>              
                    </h5>               
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="row">
            <div class="col-sm-6">
                <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
                    <i class="fas fa-user-graduate fa-3x"></i>
                    <h1 class="display-4">Students</h1>
                </div>
                {% for student in students %}
                <div class="card text-white bg-ebony mx-auto mb-1" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{student}}                
                            <a  class="btn text-white dropdown-toggle" style="float:right;"role="button" data-toggle="dropdown" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right p-4 text-muted" style="max-width: 200px;">
                                <p>Username: {{student.username}}</p>
                                <p>ID: {{student.empl_id}}</p>
                                <p>Status: {{student.status}}</p>
                                <p>GPA: {{student.gpa}}</p>
                            </div>
                        </h5>               
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-6">
                <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
                    <i class="fas fa-chalkboard-teacher fa-3x"></i>
                    <h1 class="display-4">Instructors</h1>
                </div>
                {% for instructor in instructors %}
                <div class="card text-white bg-ebony mx-auto mb-1" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{instructor}}                
                            <a  class="btn text-white dropdown-toggle" style="float:right;"role="button" data-toggle="dropdown" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right p-4 text-muted" style="max-width: 200px;">
                                <p>Username: {{instructor.username}}</p>
                                <p>ID: {{instructor.empl_id}}</p>
                                <p>Status: {{instructor.status}}</p>
                            </div>
                        </h5>               
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}