{% extends "base.html" %}

{% block navbar %}
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Apply
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('student_app')}}">Student</a>
          <a class="dropdown-item" href="{{url_for('instructor_app')}}">Instructor</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="pricing-header mt-5 mb-5 px-3 py-3 pb-md-4 mx-auto text-center">
        <i class="fas fa-table fa-3x"></i>
        <h1 class="font-weight-bolder" style="text-align:center">STATISTICS</h1>
    </div>
    <hr class="featurette-divider2">
    <div class="pricing-header mt-2 mb-2 px-3 py-3 pb-md-4 mx-auto text-center">
        <i class="fas fa-book-open fa-3x"></i>
        <h1 class="display-4">Course Rankings</h1>
    </div>
  
    <div class="float-parent-element">
      <div class="float-child-element">
        <div class="container">
          <ul class="list-group list-group-horizontal-xl container_ul">
              <li class="list-group-item modified_li lead strong_font bg-ebony text-white">HIGHEST RATED</li>
              <li class="list-group-item modified_li lead strong_font bg-ebony text-white">RATE</li>
          </ul>
          <ul class="list-group list-group-horizontal-xl container_ul">
              <li class="list-group-item modified_li medium_font">Software Engineering</li>
              <li class="list-group-item modified_li medium_font">98%</li>
          </ul>
          <ul class="list-group list-group-horizontal-xl container_ul">
              <li class="list-group-item modified_li medium_font">Algorithms</li>
              <li class="list-group-item modified_li medium_font">98%</li>
          </ul>
          <ul class="list-group list-group-horizontal-xl container_ul">
              <li class="list-group-item modified_li medium_font">Data Structures</li>
              <li class="list-group-item modified_li medium_font">97.5%</li>
          </ul>
      </div>
    </div>
  
    <div class="float-child-element">
      <div class="container">
          <ul class="list-group list-group-horizontal-xl container_ul">
              <li class="list-group-item modified_li lead strong_font bg-ebony text-white">LOWEST RATED</li>
              <li class="list-group-item modified_li lead strong_font bg-ebony text-white">RATE</li>
          </ul>
          <ul class="list-group list-group-horizontal-xl container_ul">
              <li class="list-group-item modified_li medium_font">Operating Systems</li>
              <li class="list-group-item modified_li medium_font">96%</li>
          </ul>
          <ul class="list-group list-group-horizontal-xl container_ul">
              <li class="list-group-item modified_li medium_font">Database Systems</li>
              <li class="list-group-item modified_li medium_font">95%</li>
          </ul>
          <ul class="list-group list-group-horizontal-xl container_ul">
              <li class="list-group-item modified_li medium_font">Intro to Machine Learning</li>
              <li class="list-group-item modified_li medium_font">95%</li>
          </ul>
      </div>
    </div>
  </div>
  
  <div class="students">
    <hr class="featurette-honors-divider">
    <hr class="featurette-divider">
    
    <div class="pricing-header mt-2 mb-2 px-3 py-3 pb-md-4 mx-auto text-center">
        <i class="fas fa-user-graduate fa-4x"></i>
        <h1 class="display-4">Top Students</h1>
    </div>
  
    <div class="container">
      <ul class="list-group list-group-horizontal-xl container_ul">
          <li class="list-group-item modified_li lead strong_font bg-ebony text-white">STUDENT NAME</li>
          <li class="list-group-item modified_li lead strong_font bg-ebony text-white">GPA</li>
          <li class="list-group-item modified_li lead strong_font bg-ebony text-white">MAJOR</li>
          <li class="list-group-item modified_li lead strong_font bg-ebony text-white">COURSE ENROLLED</li>
      </ul>
      <ul class="list-group list-group-horizontal-xl container_ul">
          <li class="list-group-item modified_li medium_font flex-fill ">John Doe</li>
          <li class="list-group-item modified_li medium_font flex-fill ">99.5%</li>
          <li class="list-group-item modified_li medium_font flex-fill ">COMPUTER SCIENCE</li>
          <li class="list-group-item modified_li medium_font flex-fill ">CSC 32200</li>
      </ul>
      <ul class="list-group list-group-horizontal-xl container_ul">
          <li class="list-group-item modified_li medium_font flex-fill ">Tamara Eisenberg</li>
          <li class="list-group-item modified_li medium_font flex-fill ">99.5%</li>
          <li class="list-group-item modified_li medium_font flex-fill ">COMPUTER SCIENCE</li>
          <li class="list-group-item modified_li medium_font flex-fill ">CSC 32200</li>
      </ul>
      <ul class="list-group list-group-horizontal-xl container_ul">
          <li class="list-group-item modified_li medium_font flex-fill ">Jacquline Fernandez</li>
          <li class="list-group-item modified_li medium_font flex-fill ">99.4%</li>
          <li class="list-group-item modified_li medium_font flex-fill ">COMPUTER SCIENCE</li>
          <li class="list-group-item modified_li medium_font flex-fill ">CSC 32200</li>
      </ul>
    </div>
  </div> 
{% endblock content %}
