{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="{{url_for('statistics_page')}}">Statistics</a>
    <!-- <a class="nav-item nav-link" href="{{url_for('registrar_default_dash')}}">Dashboard</a> -->
    <a class="nav-item nav-link" href="{{url_for('logout')}}">Sign Out</a>
{% endblock %}

{% block content %}
<div class="container marketing">
    <div class="animate__animated animate__fadeIn animate__slow text-center mt-5 mb-5">
        <i class="fas fa-exclamation-circle fa-3x"></i>
        <h1 class="font-weight-bolder">Student Complaint Form</h1>
    </div>

    <form method="POST" class="card bg-blur p-3 mt-3" style="border-radius: 10px; width: 50%; margin: 0 auto;">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <div class="form-group">
              {{ form.username.label(class="form-control-label") }}
              {% if form.username.errors %}
                  {{ form.username(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.username(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
            {{ form.complaint_name.label(class="form-control-label") }}
            {% if form.complaint_name.errors %}
                {{ form.complaint_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.complaint_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.complaint_name(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
              {{ form.user_type.label(class="form-control-label") }}
              {% if form.user_type.errors %}
                  {{ form.user_type(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.user_type.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.user_type(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.complaint_text.label(class="form-control-label") }}
              {% if form.complaint_text.errors %}
                  {{ form.complaint_text(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.complaint_text.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.complaint_text(class="form-control form-control-lg") }}
              {% endif %}
          </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-lg text-white bg-ebony") }}
      </div>
    </form>
</div>
{% endblock content %}