{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="{{url_for('statistics_page')}}">Statistics</a>
   <!-- Need to change the URL depending on the user -->
   <!-- <a class="nav-item nav-link" href="{{url_for('student_dash')}}">Dashboard</a> -->
    <a class="nav-item nav-link" href="{{url_for('logout')}}">Sign Out</a>
{% endblock %}

{% block content %}
<div class="container marketing">
    <div class="animate__animated animate__fadeIn animate__slow text-center mt-5 mb-5">
      <i class="fas fa-book-open fa-3x"></i>
      <h1 class="font-weight-bolder text-white">View Courses</h1>
    </div>
    <div class="accordion p-3 mt-3" id="accordionExample">
        <div class="card lg-shadow">
          <div class="card-header bg-ebony" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block text-white text-left" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Science: the search for the truth
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p>Description: Science is amazing. It's really useful. You should take this class. </p>
              <p>Registered Students: 5</p>
              <p>Capacity: 20</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Math: the universal language
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p>Description: Math is amazing. It's really useful. You should take this class. </p>
                <p>Registered Students: 5</p>
                <p>Capacity: 20</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingThree">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Computer Science: Data Structures
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p>Description: Computer Science is amazing. It's really useful. You should take this class. </p>
                <p>Registered Students: 5</p>
                <p>Capacity: 20</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingFour">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Music: Music Theory
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                <p>Description: Music is amazing. It's really useful. You should take this class. </p>
                <p>Registered Students: 5</p>
                <p>Capacity: 20</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingFive">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Computer Science: Algorithms
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                <p>Description: Computer Science is amazing. It's really useful. You should take this class. </p>
                <p>Registered Students: 5</p>
                <p>Capacity: 20</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingSix">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                English: Introduction to Literary Studies
              </button>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
                <p>Description: English is amazing. It's really useful. You should take this class. </p>
                <p>Registered Students: 5</p>
                <p>Capacity: 20</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingSeven">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Computer Science: Algorithms
              </button>
            </h2>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
                <p>Description: Computer Science is amazing. It's really useful. You should take this class. </p>
                <p>Registered Students: 5</p>
                <p>Capacity: Full</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-ebony" id="headingEight">
            <h2 class="mb-0">
              <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Computer Science: Computer Graphics
              </button>
            </h2>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
                <p>Description: Computer Science is amazing. It's really useful. You should take this class. </p>
                <p>Registered Students: 5</p>
                <p>Capacity: Full</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        <i class="fas fa-exclamation-circle fa-3x"></i>
        <h1 class="display-4">Canceled Courses</h1>
      </div>

    <div class="card mx-auto card_border2 mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Computer Science: Computer Graphics</h5>
        <div class="card-text">
          <p>Instructor: Bob the Builder</p>
        </div>
      </div>
    </div>

    <div class="card mx-auto card_border2 mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Science: the universal language</h5>
        <div class="card-text">
          <p>Instructor: Bob the Builder</p>
        </div>
      </div>
    </div>

    <div class="card mx-auto card_border2 mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">English: The Natural Language</h5>
        <div class="card-text">
          <p>Instructor: Bob the Builder</p>
        </div>
      </div>
    </div>
</div>
{% endblock content %}