{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="{{url_for('statistics_page')}}">Statistics</a>
    <a class="nav-item nav-link" href="{{url_for('registrar_default_dash')}}">Dashboard</a>
    <a class="nav-item nav-link" href="{{url_for('logout')}}">Sign Out</a>
{% endblock %}

{% block content %}
<div class="container marketing">
    <div class="animate__animated animate__fadeIn animate__slow text-center mt-5 mb-5">
        <i class="fas fa-exclamation-circle fa-3x"></i>
        <h1 class="font-weight-bolder">Warnings</h1>
    </div>

    <hr class="featurette-divider">

    <h1 class="mx-auto text-center text-white pb-3">Submit Warning</h1>
    <form method="POST" class="card bg-blur p-3 mt-3" style="border-radius: 10px; width: 50%; margin: 0 auto;">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {% for field in form %}
                {% if (field.type != 'SubmitField') and (field.type != 'CSRFTokenField') %}
                    <div class="form-group">
                        {{ field.label(class="form-control-label") }}
                        {% if field.errors %}
                            {{ field(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-lg text-white bg-ebony") }}
        </div>
    </form>
    
    <hr class="featurette-divider">

    <div class="container ">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="mx-auto text-center text-white pb-3">Warned Students</h1>
                <div class="accordion p-3 mt-3" id="accordionExample">
                    {% for student in students %}
                        {% if student.warnings %}
                            <div class="card lg-shadow">
                                <div class="card-header bg-ebony" id="heading{{student.id}}">
                                    <h2 class="mb-0">
                                    <button class="btn btn-block text-white text-left" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapse{{student.id}}" aria-expanded="true" aria-controls="collapse{{student.id}}">
                                        {{student}}
                                    </button>
                                    </h2>
                                </div>
                                <div id="collapse{{student.id}}" class="collapse" aria-labelledby="heading{{student.id}}" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for warning in student.warnings %}
                                            <p>{{warning.warning}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-6">
                <h1 class="mx-auto text-center text-white pb-3">Warned Instructors</h1>
                <div class="accordion p-3 mt-3" id="accordionExample">
                    {% for instructor in instructors %}
                        {% if instructor.warnings %}
                        <div class="card lg-shadow">
                            <div class="card-header bg-ebony" id="heading{{instructor.id}}">
                                <h2 class="mb-0">
                                    <button class="btn btn-block text-white text-left" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapse{{instructor.id}}" aria-expanded="true" aria-controls="collapse{{instructor.id}}">
                                    {{instructor}}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse{{instructor.id}}" class="collapse" aria-labelledby="heading{{instructor.id}}" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% for warning in instructor.warnings %}
                                        <p>{{warning.warning}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="mx-auto text-center text-white pb-3">Student Complaints</h1>
                <div class="accordion p-3 mt-3" id="accordionExample">
                    {% for student in students %}
                        {% if student.complaints_filed %}
                            <div class="card lg-shadow">
                                <div class="card-header bg-ebony" id="heading{{student.id + 100}}">
                                    <h2 class="mb-0">
                                    <button class="btn btn-block text-white text-left" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapse{{student.id + 100}}" aria-expanded="true" aria-controls="collapse{{student.id + 100}}">
                                        {{student}}
                                    </button>
                                    </h2>
                                </div>
                                <div id="collapse{{student.id + 100}}" class="collapse" aria-labelledby="heading{{student.id + 100}}" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for complaint in student.complaints_filed %}
                                            <p>{{complaint.complaint}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-6">
                <h1 class="mx-auto text-center text-white pb-3">Instructor Complaints</h1>
                <div class="accordion p-3 mt-3" id="accordionExample">
                    {% for instructor in instructors %}
                        {% if instructor.complaints_filed %}
                        <div class="card lg-shadow">
                            <div class="card-header bg-ebony" id="heading{{instructor.id + 100}}">
                                <h2 class="mb-0">
                                    <button class="btn btn-block text-white text-left" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapse{{instructor.id + 100}}" aria-expanded="true" aria-controls="collapse{{instructor.id + 100}}">
                                    {{instructor}}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse{{instructor.id + 100}}" class="collapse" aria-labelledby="heading{{instructor.id + 100}}" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% for warning in instructor.warnings %}
                                        <p>{{complaint.complaint}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}